@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&family=Oswald&display=swap');
nav{
    background-color: rgb(226, 76, 31);
    padding: 0em 1em !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarRolling{
    height: 64px;
}
.navbar{
    z-index: 100;
}
img{
    height: 60px;
}
.show{
    height: 100vh;
}
.show .navbar-nav{
    align-items: center;
    justify-content: center;
    position: absolute;
}
.nav-link{
    padding: 0em;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
.menu{
    justify-content: center;
}
.ant-layout-header{
    padding: 0 !important;
}
.logoNav{
    height: 1em;
}

@media (max-width: 992px){
    .btnLogin{
        visibility: hidden;
        position: absolute;
    }
}