h1 {
    text-align: center;
    padding-top: .5em;
    margin: 0;
}
.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.about-container h3 {
    font-size: 16px;
    padding-top: 1em;
}
.imgMember{
    object-fit: cover;
    border-radius: 50%;
    
}
@media (min-width: 768px) {
    .about-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 2em;
    }
  }