#root {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
  }
  
  .btn-rolling{
    background-color: #e24c1f;
    color: #ffffff;
    padding: .4em 1.3em;
    border-radius: 10px;
  }
  .btn-rolling:hover{
    background-color: #852e14;
    color: #ffffff;
  }
.text-area-form{
    height: 4em;
    resize: none;
}
.ant-layout-content{
  min-height: calc(100vh - 188px);
  padding: 0;
  margin: 0;
}
.textColorRolling{
  color: rgb(226, 76, 31);
}